.pop-up-td, 
.pop-up-proj, 
.pop-up-note {
  display: none;
  width: 60%;
  height: 40%;
}

.pop-up-select {
  display: none;
}

.pop-header {
  grid-column: 1/3;
}

.pop-l-col,
.pop-r-col, 
form {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
}

