body {
  background-image: url("./images/wall.png");
  background-size: cover;
}

.content {
  position: relative;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px 1fr;
  width: 1200px;
  height: 700px;
  background: rgb(217, 248, 238);
  background-color: rgb(247, 241, 241);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background: transparent;
}

.header {
  grid-column: 1 / 3;
  padding-left: 50px;
  align-self: center;
  background-color: #c56876;
  color: white;
}

h2 {
  margin: 0 0 10px 0;
}

p {
  margin: 10px 0;
}

.proj-btns {
  display: flex;
  gap: 20px;
  align-items: center;
}

.added-projs {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pop-up-td, 
.pop-up-proj, 
.pop-up-note {
  display: none;
  width: 600px;
  height: 240px;
  background-color: rgb(238, 235, 235);
  z-index: 9;
  position: absolute;
  left: 42%;
  margin: 200px auto 20px -200px;
  text-align: left;
}

.pop-up-td {
  height: 310px;
}

form {
  padding: 10px;
}

.add-proj, 
.add-note-btn {
  margin-top: 10px;
  align-self: center;
}

.pop-up-select {
  display: none;
  width: 400px;
  justify-content: center;
  background: rgb(2, 146, 165);
  padding: 10px;
}

.pop-up-select > button {
  background-color: rgb(238, 235, 235);
  margin: 5px;
}

form > button, 
form > div > button {
  background-color: rgb(2, 146, 165);
  color: white;
  border: none;
}

.pop-up-details {
  display: none;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 10px;
  width: 500px;
  height: auto;
  min-height: 100px;
  background: teal;
  padding: 10px;
}
 
form {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.bottom {
  margin-top: 100px;
}

.top {
  display: grid;
  gap: 10px;
  margin-top: 40px;
}

.top > button {
  width: 100px;
  height: 40px;
  text-align: left;
}

.bottom > button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  background-color: #c56876;
  color: white;
}

.li-details, 
.proj-det {
  width: 100px;
  height: 30px;
  border: 1px solid rgb(2, 146, 165);
  color: rgb(2, 146, 165);
  border-radius: 3px;
}

.li-details:hover, 
.proj-det:hover {
  background-color: #0e88b8;
  background-color: rgb(2, 146, 165);
  color: white;
  border: 1px solid white;
}

.li-details, 
.low, 
.medium, 
.high {
  text-transform: uppercase;
}

textarea {
  height: 100px;
}

.l-col {
  padding-left: 50px;
  background-color: rgb(238, 235, 235);
}

.search {
  padding: 0 40px;
  margin: 40px 0;
  height: 540px;
  overflow: auto;
}

li {
  list-style-type: none;
  background-color: rgb(238, 235, 235);
  margin: 0 10px 10px 0;
  padding-left: 10px;
}

.td-li {
  display: flex;
  gap: 20px;
  padding: 10px 10px 10px 0;
  align-items: center;
}

.proj-btn {
  width: 80px;
  height: 35px;
  text-align: left;
}

.added-projs {
  padding-left: 15px;
}

.li-details {
  margin-left: auto;
}

.p-head {
  box-sizing: border-box;
  background-color: #c56876;
  height: 40px;
  padding: 7px;
  display: flex;
  align-content: center;
}

.pop-up-select {
    z-index: 9;
    position: absolute;
    left: 50%;
    margin: 200px auto 20px -200px;
    text-align: center;
}

.pop-up-details {
    z-index: 9;
    position: absolute;
    left: 45%;
    margin: 200px auto 20px -200px;
    text-align: left;
}

.pop-up-added-note {
    z-index: 9;
    position: absolute;
    left: 60%;
    margin: 130px auto 20px -200px;
    font-size: 26px;
    border: 1px solid black;
    min-height: 400px;
}

.low {
  background: rgb(166, 248, 166);
  border: none;
}

.selected.low {
  border: 3px solid green;
}

.medium {
  background: rgb(248, 248, 173);
  border: none;
}

.medium.selected {
  border: 3px solid yellow;
}

.high {
  background: rgb(243, 162, 162);
  border: none;
}

.high.selected {
  border: 3px solid red;
}

.add-td, 
.add-proj, 
.add-note-btn {
  height: 40px;
  width: 100px;
}

.added-note {
  box-sizing: border-box;
  width: 247px;
  height: 247px;
  overflow: hidden;
  white-space: pre-wrap;
  background-color: rgb(238, 235, 235);
  padding: 0 10px;
  /* display: inline-block;
  margin: 0 1em 1em;
  width: 95%; */
}

.notes-div {
    position: relative;
    box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
  row-gap: 30px;
  column-gap: 40px;
  min-height: 540px;
  background: rgb(230, 230, 174);
  background-color: rgb(247, 241, 241);
  /* column-count: 3;
  max-width: 920px;
  padding-right: 20px; */
}

.home-div {
  overflow: auto;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

#close-details {
  height: 35px;
  width: 100px;
  justify-self: end;
  align-self: center;
}

#pop-title {
  font-weight: bold;
  font-size: 26px;
}

.nav-btn {
  background: transparent;
  border: none;
  font-size: 24px;
}

.nav-btn:hover, 
.add-btn:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

.checked {
  text-decoration: line-through;
}

.projects {
  font-size: 24px;
}




/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid  rgb(2, 146, 165);
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  
  /* When the checkbox is checked, add a blue background */
  .container .checkmark.checked {
    background-color: rgb(2, 146, 165);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container .checkmark.checked:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.close {
  float: right;
  font-size: 20px;
  padding:2px 5px;
  cursor: pointer;
}

li:hover, 
.added-note:hover:not(.pop-up-added-note) {
    box-shadow:
    0.4px 0.4px 0.5px rgba(0, 0, 0, 0.079),
    1.3px 1.3px 1.6px rgba(0, 0, 0, 0.119),
    6px 6px 7px rgba(0, 0, 0, 0.21);
}

img:hover, 
button:hover {
  cursor: pointer;
}