@font-face {
  font-family: "Hind";
  src: url(./fonts/Hind-Regular.ttf);
}

@font-face {
  font-family: "SourceSans";
  src: url(./fonts/SourceSans3-Regular.ttf);
}

* {
  font-family: "SourceSans";
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(247, 241, 241);
}
 
::-webkit-scrollbar-thumb {
  background: #c56876;
  border-radius: 10px; 
}

h1 {
  color: white;
  margin-right: auto;
}

body {
  background-image: url("./images/wall.png");
  background-size: cover;
  background-color: rgb(247, 241, 241);
}

.content {
  position: relative;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px 1fr;
  width: 1200px;
  height: 700px;
  background: rgb(217, 248, 238);
  background-color: rgb(247, 241, 241);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background: transparent;
}

.header {
  grid-column: 1 / 3;
  padding-left: 50px;
  align-self: center;
  background-color: #c56876;
  color: white;
  z-index: 2;
  display: flex;
  align-items: center;
}

.todo-img {
  margin-bottom: -10px;
}

h2 {
  margin: 0 0 10px 0;
}

p {
  margin: 10px 0;
}

.proj-btns {
  display: flex;
  gap: 20px;
  align-items: center;
}

.added-projs {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding-left: 10px;
}

.pop-up-td, 
.pop-up-proj, 
.pop-up-note {
  display: none;
  width: 600px;
  height: 260px;
  background-color: rgb(238, 235, 235);
  z-index: 9;
  position: absolute;
  left: 42%;
  margin: 200px auto 20px -200px;
  text-align: left;
}

.pop-up-td {
  height: 350px;
  font-size: 18px;
}

form {
  padding: 10px;
}

input, 
textarea {
  font-size: 16px;
}

.add-proj, 
.add-note-btn {
  margin-top: 10px;
  align-self: center;
}

.pop-up-select {
  display: none;
  width: 400px;
  justify-content: center;
  background: rgb(2, 146, 165);
  padding: 10px;
}

.pop-up-select > button {
  background-color: rgb(238, 235, 235);
  margin: 5px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

form > button, 
form > div > button {
  background-color: rgb(2, 146, 165);
  color: white;
  border: none;
  border-radius: 5px;
}
 
form {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;

  justify-content: space-between;
  align-items: end;
}

.top {
  display: grid;
  gap: 10px;
  margin-top: 40px;
}

.top > button {
  width: 100px;
  height: 40px;
  text-align: left;
}

.add-btn > img {
  height: 80px;
  margin-bottom: 50px;
}

.li-details, 
.proj-det {
  width: 100px;
  height: 30px;
  font-size: 16px;
  border: 1px solid rgb(2, 146, 165);
  color: rgb(2, 146, 165);
  border-radius: 3px;
  transition-property: background-color color border;
  transition-timing-function: ease-in-out;
}

.li-details:hover, 
.proj-det:hover {
  background-color: rgb(2, 146, 165);
  color: white;
  border: 1px solid white;
  transition-duration: 0.3s;
}

.li-details,
.proj-det,  
.low, 
.medium, 
.high {
  text-transform: uppercase;
}

textarea {
  height: 100px;
}

.l-col {
  padding-left: 35px;
  background-color: rgb(238, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  padding: 0 40px;
  margin: 40px 0;
  height: 540px;
  overflow: auto;
  background-color: rgb(247, 241, 241);
}

li {
  list-style-type: none;
  background-color: rgb(238, 235, 235);
  margin: 0 10px 10px 0;
  padding-left: 10px;
}

.td-li {
  display: flex;
  gap: 20px;
  padding: 10px 10px 10px 0;
  align-items: center;
}

.td-li > p {
  font-size: 17px;
}

.proj-btn {
  width: 80px;
  min-height: 35px;
  text-align: left;
  white-space: nowrap;
}

.li-details {
  margin-left: auto;
}

.p-head {
  box-sizing: border-box;
  background-color: #c56876;
  height: 50px;
  padding: 7px;
  display: flex;
  align-content: center;
}

.pop-up-select {
    z-index: 9;
    position: absolute;
    left: 50%;
    margin: 200px auto 20px -200px;
    text-align: center;
}

.pop-up-details {
    z-index: 9;
    position: absolute;
    left: 45%;
    margin: 200px auto 20px -200px;
    text-align: left;
    display: none;
    white-space: pre-wrap;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 10px;
  width: 500px;
  height: auto;
  min-height: 100px;
  background: rgb(2, 146, 165);
  padding: 10px;
}

.pop-up-details > div {
  font-size: 18px;
}

.low {
  background: rgb(166, 248, 166);
  border: none;
}

.selected.low {
  border: 3px solid green;
}

.medium {
  background: rgb(248, 248, 173);
  border: none;
}

.medium.selected {
  border: 3px solid yellow;
}

.high {
  background: rgb(243, 162, 162);
  border: none;
}

.high.selected {
  border: 3px solid red;
}

.add-td, 
.add-proj, 
.add-note-btn {
  height: 40px;
  width: 100px;
  font-size: 16px;
}

.close-td, 
.close-proj, 
.close-note {
  margin-left: auto;
  font-weight: 900;
  cursor: pointer;
  font-size: 26px;
  padding-right: 10px;
}

.added-note {
  box-sizing: border-box;
  width: 247px;
  height: auto;
  white-space: pre-wrap;
  background-color: rgb(238, 235, 235);
  padding: 0 10px;
  font-size: 20px;
}

.notes-div {
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  row-gap: 30px;
  column-gap: 40px;
  height: 540px;
  width: 100%;
  overflow: auto;
  background: rgb(230, 230, 174);
  background-color: rgb(247, 241, 241);
  column-count: 3;
}

.home-div {
  overflow: auto;
}

.note-header {
  display: flex;
  gap: 15px;
}

[contenteditable] {
  outline: 0px solid transparent;
}

#close-details {
  height: 35px;
  width: 100px;
  justify-self: end;
  align-self: center;
  background-color: rgb(238, 235, 235);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#pop-title {
  font-weight: bold;
  font-size: 26px;
}

.nav-btn {
  background: transparent;
  border: none;
  font-size: 24px;
}

.nav-btn:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

.checked {
  text-decoration: line-through;
  color: gray;
}

.projects, 
.nav-projects {
  font-size: 24px;
}

.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid  rgb(2, 146, 165);
    border-radius: 5px;
  }
  
  .container .checkmark.checked {
    background-color: rgb(2, 146, 165);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container .checkmark.checked:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.close {
  float: right;
  font-size: 20px;
  padding:2px 5px;
  cursor: pointer;
  font-family: "Hind";
}

li, 
.added-note {
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
}

li:hover, 
.added-note:hover {
    box-shadow:
    0.4px 0.4px 0.5px rgba(0, 0, 0, 0.079),
    1.3px 1.3px 1.6px rgba(0, 0, 0, 0.119),
    6px 6px 7px rgba(0, 0, 0, 0.21);
    transition-duration: 0.3s;
}

img:not(.header-icon):hover, 
button:hover {
  cursor: pointer;
}

.header-icon {
  margin-bottom: -15px;
  padding-left: 10px;
  height: 50px;
}

.low-prio {
  border-left: 5px solid green;
}

.med-prio {
  border-left: 5px solid yellow;
}

.high-prio {
  border-left: 5px solid red;
}

.navbar {
  position: relative;

}

.navbar .drop-btn {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 10px;
}

.dropdown {
  min-width: 350px;
  padding: 10px;
  background-color: #c56876;
  display: none;
  position: absolute;
  text-align: left;
}

.drop-btn {
  display: none;
  margin-right: 50px;
  background: transparent;
  border: none;
}

.td-due {
  white-space: nowrap;
}

.r-col {
  background-color: rgb(247, 241, 241);
}

.r-col-header {
  display: none;
  text-align: center;
}

.nav-add {
  display: none;
  height: 65px;
  margin-right: 20px;
}

.nav-added-projs {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 10px;
}

@media screen and (max-width: 1500px) {
  .content {
    width: 100%;
    height: 100%;
  }

  .main {
    width: 98.5vw;
    height: 98vh;
  }

  body {
    background: none;
  }

  .added-note {
    max-width: 315px;
  }

  .search, 
  .notes-div {
    height: 600px;
  }
}



@media screen and (max-width: 1200px) {
  .close-td, 
.close-proj, 
.close-note {
  font-size: 34px;
}
  
  .added-note {
  width: 350px; 
  }

  .delete-note, 
  .save-note, 
  .edit-note {
    height: 40px;
  }

  .added-note > p, 
  .added-note > div > p {
    font-size: 36px;
  }

  .notes-div {
    height: 70vh;
  }
  
  .l-col {
    display: none;
  }

  .drop-btn {
    display: block;
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
  }

  .dropdown {
    right: 0;
  }

.navbar:hover .dropdown {
  display: block;
}

.nav-btn:not(.nav-add) {
  font-size: 44px;
  color: white;
}

.nav-projects {
  font-size: 42px;
  color: white;
}

h1 {
  font-size: 60px;
  margin: 0 auto 0 0;
}

.header-icon {
  height: 80px;
}

.td-li > p {
  font-size: 30px;
}

.td-li img, 
.proj-btns img {
  height: 40px;
}

.li-details, 
.proj-det {
  height: 48px;
  min-width: 180px;
  font-size: 28px;
}

h2 {
  font-size: 35px;
}

.pop-up-select > button {
  height: 55px;
  width: 200px;
  font-size: 30px;
}

.p-head {
  height: 70px;
}

input, 
textarea, 
.due > p, 
.priority > p {
  font-size: 24px;
}

textarea {
  height: 220px;
}

.low, 
.medium, 
.high {
  height: 30px;
  width: 85px;
  font-size: 18px;
}

.medium {
  width: 105px;
}

.add-td, 
.add-proj, 
.add-note-btn {
  height: 55px;
  width: 160px;
  font-size: 20px;
}

#close-details {
  height: 45px;
  width: 120px;
  font-size: 28px;
}

.pop-up-td {
  width: 750px;
  height: 600px;
  left: 35%;
}

.pop-up-proj, 
.pop-up-note {
  width: 750px;
  height: 500px;
  left: 35%;
}

.pop-up-details {
  width: 750px;
  left: 30%;
}

.pop-up-details > div:not(#pop-title) {
  font-size: 32px;
}

#pop-title {
  font-size: 44px;
}

form {
  padding: 20px;
}

.r-col-header {
  display: block;
  font-size: 50px;
}

.nav-add {
  display: block;
}

.header-icon {
  margin-bottom: -20px;
}

.search {
  height: 70vh;
}

.checkmark {
  top: -12px;
  left: 0;
  height: 30px;
  width: 30px;
}

.container {
  padding-left: 35px;
}

.container .checkmark:after {
  left: 7px;
  top: 0;
  width: 10px;
  height: 20px;
  border-width: 0 5px 5px 0;
}

}